<div class="container mt-5">
  <% @subscriptions.each do |subscription| %>
  <table class="table table-striped">
    <div class="med-table-header">
      <div class="med-table-title">
        <h1><%= current_user.email %>'s Subscription:</h1>
      </div>
      <div class="med-table-buttons">
        <%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Edit', edit_subscription_path(subscription) %>
      </div>
    </div>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Medication</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody class="shadow-depth">
        <% subscription.medications.each_with_index do |medication, i| %>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td><%= medication.name %></td>
          <td></td>
        </tr>
        <% end %>
      <tr>
        <td>Total:</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <% end %>
  <% if @subscriptions.length < 1 %>
    <%= render 'form', subscription: @subscription %>
  <% end %>
<div>
